.main-container {  
  display: flex;  
  flex-direction: column;  
  justify-content: center;  
  align-items: center;  
  height: 100vh;  
}  


canvas {  
  border: 1px black solid;
  cursor: crosshair;
}  


.colors button {  
  display: inline-block;  
  border: 3px solid #000000;  
  border-radius: 70%;  
  outline: none;  
  cursor: pointer;  
  width: 20px;  
  height: 20px;  
  margin-bottom: 5px;
}  



.colors button:nth-of-type(1) {  
  background-color: #FBFF00;  
}  
  
.colors button:nth-of-type(2) {  
  background-color: #009fff;  
}  
  
.colors button:nth-of-type(3) {  
  background-color: #000000;  
}  
  
.colors button:nth-of-type(4) {  
  background-color: #FF0000;  
}  
  
.colors button:nth-of-type(5) {  
  background-color: #3EFF00;  
}  
  
.colors button:nth-of-type(6) {  
  background-color: #FFF;  
}  